body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #BFB7A8;
  --accent-color: #A67A44;
  --font-color: #434343;
}

/* 폰트 설정 */
@font-face {
  font-family: 'ZillaSlab';
  src: url('../public/fonts/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}